<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container" id="root">
    <div class="row">
      <div class="col">
        <input type="text" name="username" ref="username" placeholder="Username" required>
        <input type="password" name="password" ref="password" placeholder="Password" required>
        <input type="submit" value="Login">
        <!-- <input type="button" class="btn btn-primary" @click="handleClick" v-model="post" value="posts"> -->
        <button type="button" class="btn btn-primary" @click="handleClick">{{ post }}</button>
      </div>
    </div>
</div>

<script src="./app.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</body>